@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* @font-face {
    font-family: "Emulogic";
    src: local("Emulogic"),
     url("./fonts/Emulogic-zrEw.ttf") format("truetype");
    font-weight: bold;
    }
    

.font {
    font-family: "Emulogic";

} */